html,
body {
    margin:0;
    padding:0;
    height:100%;
}
.wrapper {
    min-height:100%;
    position:relative;
}
.container{
    padding-bottom:80px;
}
.container {
    width: 970px;
    max-width: none !important;
}
footer{
    width:100%;

    position:absolute;
    bottom:0;
    left:0;

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}
body {
    border-top: 2px solid #E57125;
}

i {
    font-size: 16px;
}

.nav > li > a {
    color: #787878;
}



/* count indicator near icons */

.nav>li .count {
    position: absolute;
    bottom: 12px;
    right: 6px;
    font-size: 9px;
    background: rgba(51, 200, 51, 0.55);
    color: rgba(255, 255, 255, 0.9);
    line-height: 1em;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

h1 {
    letter-spacing: 20px;
    text-transform: uppercase;
}

h4 {
    font-size: 15px;
    font-style: italic;
}

.sidebar {
    border-right: 1px solid #DDD;
}

.mainbar {
    padding-top: 30px;
}

.main-nav {
    padding-top: 10%;
    padding-left: 30%;

}

nav ul {
    list-style-type: none;
}

nav li {
    font-size: 1.8em;
}

nav a {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    -webkit-transition: color .5s;
    transition: color .5s;
}

a:hover {
    text-decoration: none;
    color: #333;
}



.butn {
    position: relative;
    display: block;
    padding: 10px;
    width: 200px;
    height: 50px;
    overflow: hidden;
    font-size: 20px;
    border-width: 0;
    outline: none;
    border-radius: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #e67e22;
    color: #ecf0f1;
    transition: background-color .3s;
}

.butn:hover, .butn:focus {
    background-color: #d35400;
}

.butn > * {
    position: relative;
}

.butn span {
    display: block;
    padding: 12px 24px;
}

.butn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.butn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.push-bit {
    margin-left: 5em;
}

.btn {
    margin-right: 10px;
}

form div {
    margin-bottom: 15px;
}

input {
    border: none;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
    width: 400px;
    font-size: 20px;
}

input:focus {
    outline: 0;
}

.add-url-box {
    padding-top: 5%;
    padding-left: 30%;
}

.search-count {
    padding-top: 10px;
    font-style: italic;
}

.search-result li {
    list-style-type: none;
}

.search-result li {
    padding-bottom: 10px;
}

.move-center {
    padding-top: 5%;
    padding-left: 25%;
}

.move-center p {
    font-size: 20px;
}

.move {
    padding-left: 15%;
}
